@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.light-mode {
    --pricolor-1: #f8efd4;
    --pricolor-2: #edc988;
    --seccolor-1: #d7385e;
    --seccolor-2: #132743;
  }
  
  .dark-mode {
    --pricolor-1: #222831;
    --pricolor-2: #393e46;
    --seccolor-1: #ebd4d4;
    --seccolor-2: #fff0f0;
}

.main-navbar {
    background-color: var(--seccolor-2);
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--seccolor-2);
}
  .section-title {
    color: var(--seccolor-2);
    margin-bottom: 4rem;
    text-align: center;
  }
  
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .underline {
    width: 5rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: var(--seccolor-1);
    margin-left: auto;
    margin-right: auto;
  }

.padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.even-section {
    background-color: var(--pricolor-1);
}

.odd-section {
    background-color: var(--pricolor-2);
}

.btn {
    margin: 20px;
    color: var(--pricolor-1) !important;
    background: var(--seccolor-1);
    padding: 20px;
    box-shadow: --var(--dark-shadow);
    border: 4px solid var(--seccolor-2) !important;
    transition: all 0.4s ease 0s;
}

.btn:hover {
    color: #ffffff !important;
    background: var(--seccolor-2);
    border-color: var(--seccolor-1) !important;
    transition: all 0.4s ease 0s;
}

.jumbotron {
    height: 45vw;
    width: 100%;
    background-image: url("../img/jumboImg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.jumbo-text {
    margin-top: 5%;
    color: white;
    width: 100%;
    max-width: 100%;
    text-shadow: 10px 10px 20px #000;
}

.jumbo-text h2{
    color: #DEF2F1;
    font-size: 4vw;
}

.jumbo-text h1 {
    color: #FEFFFF;
    font-size: 12vw;
    font-weight: 600;
}

.carousel {
    box-shadow: var(--dark-shadow);
}

.carousel-item img {
    height: 35vw;
    width: auto;
}

.carousel-caption {
   background-color: rgba(17, 7, 7, 0.5);
}

.tourist-spots .card {
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.tourist-spots .card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.act-img {
    width: 100%;
    margin-bottom: 25px;
  }
  
  .Timeline {
    position: relative;
  }
  
  .Timeline::before {
    content: '';
    background: var(--seccolor-2);
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item-right, .timeline-item-left {
    width: 100%;
    margin-bottom: 0px;
  }
  
  .timeline-item-right .timeline-content {
    float: right;
    padding: 50px 30px 10px 30px;
  }
  
  .timeline-item-left .timeline-content {
    padding: 50px 30px 10px 30px;
  }
  
  .timeline-item-right .timeline-content .date {
    right: auto;
    left: 0;
  }
  
  .timeline-item-right .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent var(--pricolor-2) transparent transparent;
  }
  
  .timeline-item-right::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .timeline-item-left::after {
    content: '';
    display: block;
    clear: both;
  }
  
  .timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    color: var(--pricolor-1);
    background: var(--seccolor-2);
    text-align: center;
    box-shadow: var(--dark-shadow);
  }
  
  
  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent var(--pricolor-2);
  }
  
  .timeline-img {
    width: 30px;
    height: 30px;
    background: var(--seccolor-2);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }
  
  .date {
    background: var(--pricolor-2);
    border:2px solid var(--seccolor-2);
    display: inline-block;
    color: var(--seccolor-2);
    font-size: 15px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (max-width: 768px) {
    .Timeline::before {
      left: 50px;
    }
    .Timeline .timeline-img {
      left: 50px;
    }
    .Timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }
    .timeline-item-right, .timeline-item-left {
        margin-bottom: 70px;
    }
    .Timeline .timeline-item-right .timeline-content {
      float: none;
    }
    .Timeline .timeline-item-left .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent var(--pricolor-2) transparent transparent;
    }
  
    .timeline-item-left .timeline-content .date {
        right: auto;
        left: 0;
    }
  }

  .main-map {
      height: 40vw;
      width: 80vw;
  }


.btn-chatbot {
    position: fixed;
    right: 0;
    bottom: 0;
}

.chatbot {
    height: 80vh;
    width: 25vw;
}

.section-cards {
    z-index: 3;
    position: relative;
}

.section-gray {
    background: #E5E5E5;
    padding: 60px 0 30px 0;
}


.streetview {
    box-shadow: var(--dark-shadow);
    width: 80vw;
    height: 40vw;
} 

.blog-jumbotron {
    height: 35vw;
    width: 100%;
    background-image: url("../img/blog_jumbo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blog-jumbotron .jumbo-text h1 {
    color: #FEFFFF;
    font-size: 8vw;
    font-weight: 600;
}

.blogpage .card{
    background-color: var(--pricolor-1);
}

.blogform form {
    text-align: left;
    padding: 50px;
    background-color: var(--pricolor-1);
}

/*---------------------------------------------------------------------- /
CARDS
----------------------------------------------------------------------- */

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: var(--seccolor-2);
    background: var(--pricolor-1);
    transition: 0.3s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card:hover {
    transform: scale(1.02);
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    pointer-events: none;
}

.card .card-image .card-caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.3em;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card img {
    width: 100%;
    height: auto;
}

.img-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .ftr {
    margin-top: 15px;
}

.card .ftr div {
    display: inline-block;
}

.card .ftr .author {
    color: #888;
}

.card .ftr .stats {
    float: right;
    line-height: 30px;
}

.card .ftr .stats {
    position: relative;
    top: 1px;
    font-size: 14px;
}


/* ============ Card Table ============ */

.table {
    margin-bottom: 0px;
}

.card .table {
    padding: 15px 30px;
}

.card .table-primary {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.card .table-info {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}

.card .table-success {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}

.card .table-warning {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}

.card .table-danger {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}

.card .table-rose {
    background: linear-gradient(60deg, #ec407a, #c2185b);
}

.card [class*="table-"] {
    color: #FFFFFF;
    border-radius: 6px;
}

.card [class*="table-"] .card-caption a,
.card [class*="table-"] .card-caption,
.card [class*="table-"] .icon i {
    color: #FFFFFF;
}

.card [class*="table-"] .icon i {
    border-color: rgba(255, 255, 255, 0.25);
}

.card [class*="table-"] .author a,
.card [class*="table-"] .ftr .stats,
.card [class*="table-"] .category,
.card [class*="table-"] .card-description {
    color: rgba(255, 255, 255, 0.8);
}

.card [class*="table-"] .author a:hover,
.card [class*="table-"] .author a:focus,
.card [class*="table-"] .author a:active {
    color: #FFFFFF;
}

.card [class*="table-"] h1 small,
.card [class*="table-"] h2 small,
.card [class*="table-"] h3 small {
    color: rgba(255, 255, 255, 0.8);
}


/* ============ Card Blog ============ */

.card-blog {
    margin-top: 30px;
}

.card-blog .card-caption {
    margin-top: 5px;
}

.card-blog .card-image + .category {
    margin-top: 20px;
}

.card-raised {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


/* ============ Card Background ============ */

.card-background {
    background-position: center;
    background-size: cover;
    text-align: center;
}

.card-background .table {
    position: relative;
    z-index: 2;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 440px;
    margin: 0 auto;
}

.card-background .category,
.card-background .card-description,
.card-background small {
    color: rgba(255, 255, 255, 0.8);
}

.card-background .card-caption {
    color: #FFFFFF;
    margin-top: 10px;
}

.card-background:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    table: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 6px;
}


/* ============ Card Profile ============ */

.card-profile {
    margin-top: 30px;
    text-align: center;
}


/* ============ Card Category ============ */

.category {
    position: relative;
    line-height: 0;
    margin: 15px 0;
}

.card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}


/* ============ Card Author ============ */

.card .author .avatar {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #333;
    text-decoration: none;
}

.card .author a .ripple-cont {
    display: none;
}


/* ============ Card Product ============ */

.card-product {
    margin-top: 30px;
}

.card-product .btn-simple.btn-just-icon {
    padding: 0;
}

.card-product .ftr {
    margin-top: 5px;
}

.card-product .ftr .stats {
    margin-top: 4px;
    top: 0;
}

.card-product .ftr h4 {
    margin-bottom: 0;
}

.card-product .card-caption,
.card-product .category,
.card-product .card-description {
    text-align: center;
}

.card-description p {
    color: #888;
}

.card-caption,
.card-caption a {
    color: #333;
    text-decoration: none;
}

.card-caption {
    font-weight: 700;
    font-family: "Roboto Slab", "Times New Roman", serif;
}


/* ============ Card Testimonial ============ */

.card-testimonial {
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.card-testimonial .card-avatar {
    max-width: 100px;
    max-height: 100px;
}

.card-testimonial .card-description {
    font-style: italic;
}

.card-testimonial .card-description + .card-caption {
    margin-top: 30px;
}

.card-testimonial .icon {
    margin-top: 30px;
}

.card-testimonial .icon {
    font-size: 40px;
}

.card-testimonial .ftr {
    margin-top: 0;
}

.card-testimonial .ftr .card-avatar {
    margin-top: 10px;
    margin-bottom: -50px;
}